{% extends 'mainApp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section mt-3" style="z-index: 1;background-color: white">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-info">Login</button>
        </div>
    </form>
    <div class="border-top pt-3 text-center">
        <small class="text-muted">
            Do not have an account? <a class="ml-2" href="{% url 'register' %}">Sign up</a>
        </small>
    </div>
</div>
{% endblock content%}