{% extends 'mainApp/base.html' %}

{% block content %}
<div class="container mt-4" style="width: 70%">
    {% include 'mainApp/post_layout.html' %}
    <h3>Comments</h3>
    {% for comment in comments %}
    <div id="comment">
        {% include 'mainApp/comment_section.html' %}
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
    function reply(comment_id) {
        replyField = document.getElementById(comment_id);
        if (replyField.classList.contains('d-none'))
            replyField.classList.replace('d-none', 'd-inline');
        else if (replyField.classList.contains('d-inline'))
            replyField.classList.replace('d-inline', 'd-none');
    }

    function view_replies(comment_id) {
        replyList = document.getElementsByName(comment_id);
        if (replyList[2].classList.contains('d-none'))
            replyList[2].classList.replace('d-none', 'd-inline');
        else if (replyList[2].classList.contains('d-inline'))
            replyList[2].classList.replace('d-inline', 'd-none');
    }
    function edit_comment(comment_id) {
        edit = document.getElementsByName(comment_id);
        if (edit[0].classList.contains('d-none')) {
            edit[0].classList.replace('d-none', 'd-inline');
            edit[1].classList.replace('d-inline', 'd-none');
        }
        else if (edit[0].classList.contains('d-inline')) {
            edit[0].classList.replace('d-inline', 'd-none');
            edit[1].classList.replace('d-none', 'd-inline');
        }
    }

    function edit_reply(reply_id) {
        edit = document.getElementsByName(reply_id);
        if (edit[0].classList.contains('d-none')) {
            edit[0].classList.replace('d-none', 'd-inline');
            edit[1].classList.replace('d-inline', 'd-none');
        }
        else if (edit[0].classList.contains('d-inline')) {
            edit[0].classList.replace('d-inline', 'd-none');
            edit[1].classList.replace('d-none', 'd-inline');
        }
    }

</script>
{% endblock %}