{% extends 'mainApp/base.html' %}

{% block content %}
<div class="container mt-4" style="width: 70%">
    {% include 'mainApp/post_layout.html' %}
    <h3>Comments</h3>
    {% for comment in comments %}
    <div class='p-3' style='background-color: #e6e6e6'>
        <div class="row my-1">
            <div class="col-1">
                <img src="{{comment.user.profile.image.url}}" height="30" class="rounded-circle">
            </div>
            <div class="col-1">
                <b>{{comment.user.username}}</b>
            </div>
            <div class="col-10 text-muted">
                <p class="float-right">{{comment.timestamp}}</p>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="mx-4">{{comment.message}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class='float-right mr-3' style='width: auto'>
                    <button class="btn btn-outline-dark" role="button" aria-expanded="false" value="{{comment.id}}"
                        onclick="reply(this.value)">Reply</button>
                    <div class="float-right ml-2 d-none" id="{{comment.id}}">
                        <form action="{% url 'comment' post.id %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Comment" name='message'
                                    aria-describedby="basic-addon2" required=true>
                                <div class="input-group-append">
                                    <button class="btn btn-dark" type="submit">Post</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <button class='btn btn-outline-dark float-right'>View Replies</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
    function reply(reply_id) {
        console.log(reply_id)
        replyField = document.getElementById(reply_id);
        if (replyField.classList.contains('d-none'))
            replyField.classList.replace('d-none', 'd-inline');
        else if (replyField.classList.contains('d-inline'))
            replyField.classList.replace('d-inline', 'd-none');
    }
</script>
{% endblock %}