{% load split %}

<div class="card mb-3" id={{post.id}}>
    <div class="card-header mb-1">
        <div class="row mb-1">
            <div class="col-sm-1">
                <img src="{{post.author.profile.image.url}}" height="30" width="30" class="rounded-circle">
            </div>
            <div class='col-sm'>
                <div class="text" style='font-size: 1.0rem'>
                    <a href="{% url 'profile' post.author.id %}"><b>{{post.author}}</b></a>
                </div>
                {% if post.loc != '' %}
                <div class="text" style='font-size: 0.9rem'>{{post.loc}}</div>
                {% endif %}
            </div>
            {% if post.author_id == user.id %}
            <div class="col-sm text-right">
                <a href="/app/post/{{post.id}}"><i class="fa fa-edit icon-4x"></i></a>
                <a href="/app/post_delete/{{post.id}}" type="submit"><i class="fa fa-trash pl-3 icon-4x"></i></a>
            </div>
            {% endif %}
        </div>
    </div>
    {% if post.media %}
    {% with post.media.url|split:"." as media_list %}
    {% if media_list|last == 'jpg' or media_list|last == 'jpeg' or media_list|last == 'png' or media_list|last == 'gif' or media_list|last == 'tiff' %}
    <img class="card-img-top" src="{{post.media.url}}" alt="Card image cap">
    {% elif media_list|last == 'mp4' or media_list|last == 'mkv' or media_list|last == 'mov' %}
    <video src="{{post.media.url}}" controls height="400" autoplay="true" loop="true"></video>
    {% endif %}
    {% endwith %}
    {% endif %}
    <hr class='divider'>
    <div class="card-body">
        <h5 class="card-title" style='font-weight: 500'>{{post.title}}</h5>
        <h6 class='mb-5'>
            <p class="card-text">{{post.desc}}</p>
        </h6>
        <div class='row'>
            <div class='col-sm'>
                <div id="like-section" class="d-inline">
                    {% include 'mainApp/like_section.html' %}
                </div>
                <h4 class='d-inline pl-1'><a href='{% url "comment" post.id %}' class='far fa-comment'
                        style='text-decoration:none'></a></h4>
                <div id="bookmark-section" class="d-inline">
                    {% include 'mainApp/bookmark_section.html' %}
                </div>
            </div>
            <div class="col-sm">
                <p class="card-text float-right pr"><small class="text-muted">{{post.timestamp}}</small></p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <form action="{% url 'comment' post.id %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Comment" name='message'
                    aria-describedby="basic-addon2" required=true>
                <div class="input-group-append">
                    <button class="btn btn-dark" type="submit">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>