{% extends 'mainApp/base.html' %}
{% load static %}

{% block content %}
<style>
    .card-user {
        display: inline;
    }

    .card-bookmark {
        display: none;
    }
</style>
<div class='container' style='width: 70%; margin-top: 2%'>
    <h1>
        <center style='font-family: "Roboto Slab", Serif'>Profile Page</center>
    </h1>
    <br>
    <div class='row' style='margin-top: 2%'>
        <div class="col">
            <img src='{{profile.profile.image.url}}' class="rounded-circle mb-2" alt="100x100" width="180" height="180"
                style='border-radius: 50%'>
        </div>
        <div class='col'>
            <h3 class='d-inline mr-3'>{{profile.username}}</h3>
            {% if profile.id != user.id %}
            <div id="follow-section" class="d-inline">
                {% include 'mainApp/follow_section.html' %}
            </div>
            {% endif %}
            {% if profile.id == user.id %}
            <a href="{% url 'editprofile' %}"><button type='submit' name='edit_user'
                    class='btn btn-light border border-dark d-inline' style='margin-bottom:4%'>
                    <i class='fa fa-edit'></i>
                </button></a><br>
            {% endif %}
            <h5 class='d-inline mr-3'>Followers: {{follower_count}}</h5>
            <h5 class='d-inline mr-3'>Following: {{following_count}}</h5>
            <h5 class='d-inline mr-3'>Posts: {{posts_count}}</h5>
            <hr style='border-color: black'>
            <h4 class='d-inline mr-3'><b style='font-weight: 500'>{{profile.first_name}} {{profile.last_name}}</b></h4>
            <br>
            <h5 class='d-inline mr-3'>{{profile.profile.desc}} </h5>
        </div>
    </div>
    <hr style='border-color: black; margin: 0%'><br>
    {% if profile.id == user.id %}
    <center style='margin-bottom: 3%;'>
        <div class='d-inline-block mr-4'>
            <a href='' id='myPost'>
                <h4>MyPost</h4>
            </a>
        </div>
        <div class='d-inline-block'>
            <a href='' id='bookmarkPost'>
                <h4>Bookmark</h4>
            </a>
        </div>
    </center>
    {% endif %}
    {% if profile == user %}
    <div class='card-user'>
        {% for post in posts %}
        {% if post.author == user %}
        <div class="card-deck mb-3">
            {% include "mainApp/post_layout.html" %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class='card-bookmark'>
        {% for post in posts %}
        {% if post.id in bookmarks %}
        <div class="card-deck mb-3">
            {% include "mainApp/post_layout.html" %}
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        {% for post in posts %}
        {% if post.author == profile %}
        <div class="card-deck mb-3">
            {% include "mainApp/post_layout.html" %}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>

<script>
    $(function () {
        $('#myPost').on('click', function (e) {
            $('.card-bookmark').css('display', 'none');
            $('.card-user').css('display', 'inline');
            e.preventDefault();
        });
    });

    $(function () {
        $('#bookmarkPost').on('click', function (e) {
            $('.card-user').css('display', 'none');
            $('.card-bookmark').css('display', 'inline');
            e.preventDefault();
        });
    });


</script>
{% endblock %}